# Dependencies
node_modules/
.pnp
.pnp.js

# Production & Build Output
dist/
dist-ssr/
*.local

# Cache & Temp
.vite/
.temp/
*.log

# Environment Variables
.env
.env.local
.env.production
.env.development

# Editor & OS
.DS_Store
.AppleDouble
.LSOverride
._*
Thumbs.db
.vscode/
.idea/
*.swp
*.swo
